<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_tinh_luong_root" name="Tính Lương" sequence="30"/>
        
        <menuitem id="menu_ky_luong" 
                  name="Kỳ Lương" 
                  parent="menu_tinh_luong_root" 
                  action="action_ky_luong" 
                  sequence="10"/>
        
        <menuitem id="menu_bang_luong" 
                  name="Bảng Lương" 
                  parent="menu_tinh_luong_root" 
                  action="action_bang_luong" 
                  sequence="20"/>
    </data>
</odoo>
